<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- SAML konfiguracia -->
    <section name="saml2Config" type="RBTeam.Saml2Lib.Configuration.Saml2Config, RBTeam.Saml2Lib" />
    <!-- Logger konfiguracia -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <!-- SAML konfiguracia BEGIN -->
  <saml2Config spMetadataFile="App_data\sp.xml" idpMetadataFile="App_data\idp.xml" postBindingHtmlFile="" timeTolerance="300" samlRefreshUrl="~/SamlRefresh.aspx" samlRefreshInterval="55" sessionExpirationOffset="120">
    <outgoingMessages signRequest="true" signResponse="true" requestedAuthnContext="urn:upvs:qaalevel:1" />
    <incomingMessages wantRequestSinged="true" wantResponseSinged="false" wantAssertionSigned="true" validateIdpCert="false" validateHttpHttps="false" maxMessageAge="300" />
    <certificateStore storeLocation="LocalMachine" storeName="My" />
    <dataCache samlRequestLifespan="1200" cookieName="Saml2ModuleAutz" cookiePath="" />
    <assertionAttributes userNameAttribute="SubjectID" rolesAttribute="Role">
      <add name="iamRoles" prefix="iam" regex="^cn=(?{role}.+),cn=upvs_iam_tech_roles,cn=groups,dc=gov,dc=sk$" />
    </assertionAttributes>
  </saml2Config>
  <!-- SAML konfiguracia END -->
  <!-- Logger konfiguracia BEGIN -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="c:\temp\log\${logger}.${shortdate}.txt" layout="${date:format=yyyyMMdd HH:mm:ss} ${level} - ${message}/${exception:format=toString,Data:maxInnerExceptionLevel=1}" />
      <target name="console" xsi:type="Console" />
    </targets>
    <rules>
      <!--
      Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
      Debug - debugging information, less detailed than trace, typically not enabled in production environment.
      Info - information messages, which are normally enabled in production environment
      Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
      Error - error messages - most of the time these are Exceptions
      Fatal - very serious errors!
      -->
      <logger name="RBTeam.Saml2Lib.*" writeTo="logfile" minlevel="Trace" />
    </rules>
  </nlog>
  <!-- Logger konfiguracia END -->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
	<sessionState mode="InProc" cookieless="UseCookies" />
    <authentication mode="Forms">
      <forms name="ASP.NET_FedAuth" loginUrl="~/Account/SignIn" defaultUrl="~/" slidingExpiration="true" timeout="20" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
	  <!-- zaregistrovat modul -->
      <add name="saml2Module" type="RBTeam.Saml2Lib.Saml2Module, RBTeam.Saml2Lib" />
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule"
        type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"
        preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
	<handlers>
      <!-- zaregistrovat handler, ktory bude chytat requesty iduce na saml/*  -->
      <add name="Saml2Handler" verb="POST,GET" path="saml" type="RBTeam.Saml2Lib.Saml2Handler, RBTeam.Saml2Lib" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>
